# localhost
server {
    listen 80;
    server_name localhost;
    client_max_body_size 108M;
    index index.php index.html;

    error_log  /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;
    root /application;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;
        include fastcgi_params;
        fastcgi_pass php:9000;
    }

    location ~ /\.ht {
        deny all;
    }

    location ~ /.well-known {
        allow all;
    }
}

# SSL locahost
server {
    listen 443 ssl;
    server_name locahost;
    fastcgi_param HTTPS on;

    ssl_certificate /etc/ssl/localhost/server.pem;
    ssl_certificate_key /etc/ssl/localhost/server.key;
    ssl_protocols SSLv3 TLSv1 TLSv1.1 TLSv1.2;

    index index.php index.html;

    client_max_body_size 108M;

    error_log  /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;
    root /application;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;
        include fastcgi_params;
        fastcgi_pass php:9000;
    }

    location ~ /\.ht {
        deny all;
    }

    location ~ /.well-known {
        allow all;
    }
}

# CR3
server {
    listen 80;
    server_name cr3;
    client_max_body_size 108M;
    index index.php index.html;

    error_log  /application/cr3-live/tmp/logs/error.log;
    access_log /application/cr3-live/tmp/logs/access.log;
    root /application/cr3-live/docroot;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;
        include fastcgi_params;
        fastcgi_pass php5:9000;
    }

    location /app {
        alias /application/cr3-live/application;
    }

    location /cad_js {
        alias /application/cr3-live/lib/Scripts;
    }

    location /ssoview {
        alias /application/cr3-live/lib/Tools/simplesamlphp/rschool/sso-client-lib/www;
    }

    location /samlrschool {
        alias /application/cr3-live/lib/Tools/simplesamlphp/rschool/sso-client-lib/libraries/simplesamlphp/www;
    }

    location /yui {
        alias /application/cr3-live/lib/Scripts/Yui/build;
    }

    location /cad_clients {
        alias /application/cr3-live/clients;
    }

    location /lib {
        alias /application/cr3-live/lib;
    }

    location ~ /\.ht {
        deny all;
    }

    location ~ /.well-known {
        allow all;
    }
}